# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv/
.env
.env.*
*.log
pip-wheel-metadata/
pip-selfcheck.json
pyproject.toml
poetry.lock
.python-version
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
.mypy_cache/

# Flask
instance/
.webassets-cache

# Output files
output/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
